.units-dropdown {
    min-width: 12rem;
    display: flex;
    flex-direction: column;
    position: relative;
}

.units-dropdown-btn {
    align-self: flex-end;
    font-size: 1rem;
    padding: 0.6rem 1.1rem;
    background-color: #25253f;
    color: #fff;
    border-width: 0;
    border-radius: 8px;
    display: flex;
    gap: 0.6rem;
    cursor: pointer;
}

.units-dropdown-btn img {
    max-width: 1rem;
}

.dropdown-options {
    min-width: 100%;
    border: 2px solid #30304c;
    padding: 0.4rem;
    border-radius: 8px;
    background-color: #25253f;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    position: absolute;
    top: 3.4rem;
    visibility: hidden;
}

.dropdown-options .optgroup-label,
.dropdown-options ul li,
.imperial-units-option {
    padding: 0.5rem 0.3rem;
    border-radius: 8px;
}

.dropdown-options .optgroup-label {
    color: #88869d;
    font-size: 0.9rem;
}

.dropdown-options hr {
    color: #3a3950;
    border: none;
    border-top: 1px solid #3a3950;
    margin-top: 0.1rem;
}
