.city-weather-info {
    display: flex;
    min-width: 100%;
    margin-top: 1.5rem;
    gap: 1.5rem;
}

.first-column {
    min-width: 70%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.second-column {
    min-width: 30%;
}
