.city-weather-info {
    display: flex;
    min-width: 100%;
    margin-top: 1.5rem;
    gap: 1.5rem;
}

.first-column {
    min-width: 50rem;
    max-width: 50rem;
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
}

.second-column {
    min-width: 25rem;
}
